public/
node_modules/*
package.json
package-lock.json
tsconfig.json
.eslintrc.json
.prettierrc
README.md
CHANGELOG.md
src/index.css
src/styles
src/config/config.json
src/messages/vendor/vendor_welcome.html
src/messages/vendor/vendor_invite.html
build/*
azure-pipelines.yml
tsconfig.tsbuildinfo
.github/*
src/components/molecules/m-dynamic-review/dynamic.scss